[submodule "gh_ci/yaml_snippets"]
	path = gh_ci/yaml_snippets
	url = git@github.com:AlmaLinux/mirrors.git
	branch = yaml_snippets
[submodule "gh_ci/gh_ci/yaml_snippets"]
	path = gh_ci/gh_ci/yaml_snippets
	url = git@github.com:AlmaLinux/mirrors.git
	branch = yaml_snippets
