events {
        worker_connections 1024;
}

http {
        include  mime.types;
        upstream backend {
                server backend:3031;
        }
        server {
                gzip on;
                gzip_comp_level 9;
                gzip_types
                    application/json;

{% if production_setup == 'true' %}
                listen 443 ssl;
                listen [::]:443 ssl;

                ssl_certificate /etc/letsencrypt/live/{{ backend_public_domain }}/fullchain.pem;
                ssl_certificate_key /etc/letsencrypt/live/{{ backend_public_domain }}/privkey.pem;

{% else %}
                listen 80 default_server;
                listen [::]:80 default_server;
{% endif %}
                server_name {{ backend_public_domain }};
                location ~ ^/{{ api_base_url }}(/.*) {
                    include uwsgi_params;
                    uwsgi_pass backend;
                    uwsgi_param PATH_INFO "$1";
                    uwsgi_param SCRIPT_NAME /{{ api_base_url }};
                }
        }

{% if production_setup == 'true' %}
        server {
            listen 80 default_server;
            listen [::]:80 default_server;

            server_name {{ backend_public_domain }};
            location ^~ /.well-known/acme-challenge/ {
                default_type "text/plain";
                root /var/www/letsencrypt;
            }
            location = /.well-known/acme-challenge/ {
                return 404;
            }

            location / {
                return 308 https://$host$request_uri;
            }
        }
{% endif %}
}
