---

- name: Create new user for service
  user:
    name: "{{ service_user }}"
    create_home: yes

- name: Install DNF packages
  dnf:
    name: "{{ dnf_packages }}"
    state: present

- name: Set SELinux option for right working of nginx + Gunicorn
  seboolean:
    state: yes
    name: httpd_can_network_connect
    persistent: yes

- name: Set config_root
  set_fact:
    config_root: "/etc/mirrors_service/{{ container_env_prefix }}"

- name: Create configs directory
  file:
    name: "{{ config_root }}"
    state: directory
    group: "{{ service_user }}"
    owner: "{{ service_user }}"
    mode: '0755'

- name: Create db directory
  file:
    name: "{{ config_root }}/data"
    state: directory
    group: "{{ service_user }}"
    owner: "{{ service_user }}"
    mode: '0755'

- name: Create MaxMind DBs directory
  file:
    name: "{{ config_root }}/mirrors"
    state: directory
    group: "{{ service_user }}"
    owner: "{{ service_user }}"
    mode: '0755'

- name: Sysctl option `net.core.somaxconn`
  sysctl:
    name: "net.core.somaxconn"
    value: "65535"
    state: present
    sysctl_set: yes
    reload: yes

- name: Enable persistent journald
  ini_file:
    section: Journal
    path: /etc/systemd/journald.conf
    option: Storage
    value: persistant
  register:
    persistent_journald

- name: Restart journald
  systemd:
    state: restarted
    name: systemd-journald
  when: persistent_journald.changed

- name: Write name of deploy environment
  copy:
    dest: "{{ config_root }}/deploy_environment.var"
    content: "{{ deploy_environment }}"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
