---
- name: Set config_root
  set_fact:
    config_root: "/etc/mirrors_service/{{ container_env_prefix }}"

- name: Create configs directory
  file:
    name: "{{ config_root }}"
    state: directory
    mode: '0755'


- name: Create db directory
  file:
    name: "{{ config_root }}/data"
    state: directory
    mode: '0755'

- name: Add repository "docker-ce"
  get_url:
    url: "https://download.docker.com/linux/centos/docker-ce.repo"
    dest: "/etc/yum.repos.d/docker-ce.repo"
    owner: root
    mode: 0644
    force: yes


- name: Install python docker SDK
  pip:
    name:
      - docker
    state: present

- name: Install dnf packages
  dnf:
    name:
      - git
      - docker-ce
    state: present

- name: Enable and start docker service
  systemd:
    name: docker
    state: started
    enabled: yes
