---
- name: Update local repo with mirrors list
  git:
    repo: "https://github.com/AlmaLinux/mirrors.git"
    dest: "{{ config_root }}/mirrors/updates"
    clone: yes
    update: yes
    accept_hostkey: yes
    track_submodules: no


- name: Change owner of local repo
  file:
    path: "{{ config_root }}/mirrors/updates"
    owner: "{{ service_user }}"
    group: "{{ service_user }}"
    recurse: yes
