{% extends "main.html" %}

{% block text_1 %}
    {{ super() }}
    You can find the list of available AlmaLinux {%if kitten %}Kitten {% endif %}architectures and versions below.
    <br>
    Also you can use a BitTorrent file for downloading ISOs. It might be faster than direct downloading from the mirrors.
    <br>
    A .torrent file can be found on all mirrors in the folder with ISO files.
    <br>
{% endblock text_1 %}

{% block table %}
    {{ super() }}
    <table class="table table-striped table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th>Architecture</th>
                <th>Versions</th>
            </tr>
        </thead>
        <tbody>
        {% for arch, versions in isos_list.items() %}
            <tr>
                <td>{{ arch }}</td>
                <td>
                    {% for version in versions %}
                        <a href="{{ url_for('.kitten_isos' if kitten else '.isos', arch=arch, version=version) }}"
                           class="link-success text-decoration-none">
                            {{ version }}
                        </a>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
