{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
<meta charset="UTF-8">
<link rel="icon" type="image/ico" href="{{ url_for('static', filename='images/fav/favicon.ico') }}">
<link rel="alternate icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/fav/favicon-16x16.png') }}">
<link rel="alternate icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/fav/favicon-32x32.png') }}">
{% endblock metas%}

{%- block styles %}
<link href="{{ url_for('static', filename='css/bootstrap-5.3.2.min.css') }}"
      rel="stylesheet"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
<style>
    body {
        padding-top: 65px;
        padding-bottom: 35px;
        font-size: 16px;
        font-weight: 400;
        color: #2c3e50;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .lead {
        font-size: 16px!important;
        font-weight: 400!important;
        line-height: 1.7;
    }
    .table {
        border-color: #dee2e6;
        border-top: 1px solid #212529;
    }
    .table td,
    .table th {
        width: 1px !important;
    }
    table.dataTable thead th,
    table.dataTable tfoot th {
        font-weight: 500;
    }
    table.dataTable thead th,
    table.dataTable thead td {
        padding: 5px 20px 5px 10px !important;
    }
    h1 {
        font-weight: 600 !important;
        font-size: 1.75rem !important;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
    @media (min-width: 1400px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1600px;
        }
    }
    .link-success {
        color: #017698;
    }
    .link-success:hover {
        color: #004bbc;
    }
    .bg-light {
        background-color: #082336!important;
    }
    .navbar {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff!important;
        font-family: montserrat,-apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen-sans,ubuntu,cantarell,helvetica neue,arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
        font-weight: 500;
        font-size: 15px;
        padding-right: 10px;
    }
    .dataTables_filter {
        padding-bottom: 5px;
    }
    .icon.outbound {
        display: none;
    }
</style>
{% endblock styles -%}

{% block body %}
{{ super() }}
{% include "navbar.html" %}

<!--Override old scripts-->
{% block scripts %}
{% endblock scripts %}

<div class="container-sm">
    <div class="justify-content-center container-sm">
        <div class="col-sm">
            &nbsp;
        </div>
        <div class="col-sm">
            <h1>{{ main_title }}</h1>
            <p class="lead">
                {% block text_1 %}
                {% endblock text_1 %}
            </p>
            <blockquote class="blockquote text-center">
                {% block sponsor_link %}
                {% endblock sponsor_link %}
            </blockquote>
            <p class="lead">
                {% block text_2 %}
                {% endblock text_2 %}
            </p>
            {% block table %}
            {% endblock table %}
        </div>
        <div class="col-sm">
            &nbsp;
        </div>
    </div>
</div>
<div class="footer fixed-bottom bg-white">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">© {{ now.year }} AlmaLinux OS Foundation</div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"
        crossorigin="anonymous">
</script>
<script type="text/javascript"
        charset="utf8"
        src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}">
</script>
<script type="text/javascript">
    $(document).ready( function () {
        $('#dtBasic').dataTable({
            paging: false,
        });
    } );
</script>
{#    <script type="text/javascript">#}
{#        const getFlagEmoji = (countryCode) => countryCode.toUpperCase().replace(/./g,#}
{#          char => String.fromCodePoint(127397 + char.charCodeAt())#}
{#        );#}
{##}
{#        const flagReplace = document.querySelectorAll('[data-flag]');#}
{#        flagReplace.forEach(s => s.innerHTML = getFlagEmoji(s.dataset.flag))#}
{#    </script>#}

<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://matomo.almalinux.org/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->

{% endblock body %}
