<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.svg') }}"
                 alt="AlmaLinux logo"
                 height="32"
                 width="165.93"
                 style="padding-left: 15px;"
                 class="d-inline-block align-text-top">
        </a>
        <div class="navbar-nav flex-row-reverse">
            <span class="nav-item">
                <a class="nav-link link-secondary"
                   href="https://github.com/AlmaLinux/"
                   target="_blank">
                    GitHub {% include "snipets/link_icon.html" %}
                </a>
            </span>
            {% include "snipets/empty_nav_item.html" %}
            <span class="nav-item">
                <a class="nav-link link-secondary"
                   href="https://bugs.almalinux.org/"
                   target="_blank">
                    Bugs {% include "snipets/link_icon.html" %}
                </a>
            </span>
            {% include "snipets/empty_nav_item.html" %}
            <span class="nav-item">
                <a class="nav-link link-secondary"
                   href="https://blog.almalinux.org/"
                   target="_blank">
                    Blog {% include "snipets/link_icon.html" %}
                </a>
            </span>
            {% include "snipets/empty_nav_item.html" %}
            <span class="nav-item">
                <a class="nav-link link-secondary"
                   href="https://almalinux.org/"
                   target="_blank">
                    Home {% include "snipets/link_icon.html" %}
                </a>
            </span>
        </div>
    </div>
</nav>
