[Unit]
Description=AlmaLinux mirrors service (Gunicorn backend)
After=syslog.target

[Service]
User={{ service_user }}
Group={{ service_user }}
Type=simple
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
WorkingDirectory={{ source_path }}/src/backend
ExecStartPre={{ scripts_path }}/{{ mirrors_service }}.sh
ExecStart={{ source_path }}/bin/gunicorn -c {{ source_path }}/src/backend/gunicorn.py

[Install]
WantedBy=multi-user.target
