[Unit]
Description=Update a local mirrors list Service
Wants=network-online.target
After=network.target network-online.target
Requires=almalinux_mirrors_list_update.service

[Timer]
OnStartupSec=60
OnUnitActiveSec=900

[Install]
WantedBy=timers.target
