[Unit]
Description=Update local git repo of mirrors, including the config
Wants=network-online.target
After=network.target network-online.target
Requires=almalinux_mirrors_service_git_pull.service

[Timer]
OnStartupSec=30
OnUnitActiveSec=900
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
