[Unit]
Description={{ description }} Service
Wants=network-online.target
After=network.target network-online.target
Requires={{ mirrors_list_update }}.service

[Timer]
OnStartupSec=60
OnUnitActiveSec=3600
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
