[Unit]
Description={{ description }} Service
Wants=network-online.target
After=network.target network-online.target

[Timer]
OnStartupSec=15s
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
