[Unit]
Description={{ description }} Service
Wants=network-online.target
After=network.target network-online.target

[Service]
User={{ service_user }}
Group={{ service_user }}
Type=oneshot
ExecStart="{{ update_maxmind_dbs_script_path }}"
