wsgi_app = 'main:app'
bind = '[::1]:{{ gunicorn_port }}'
# https://docs.gunicorn.org/en/latest/design.html#how-many-workers
workers = {{ ansible_processor_nproc - 1 }}
worker_connections = 1000
max_requests = 10000
max_requests_jitter = 5000
user = '{{ service_user }}'
group = '{{ service_user }}'
raw_env = [
    'GEOIP_PATH={{ ipinfo_path }}/standard_location.mmdb',
    'ASN_PATH={{ ipinfo_path }}/asn.mmdb',
    'CONTINENT_PATH={{ ipinfo_path }}/continent.json',
    'SQLITE_PATH={{ config_root }}/data/mirrors.db',
{% if sentry_dsn is defined %}
    'SENTRY_DSN={{ sentry_dsn }}',
{% endif %}
    'PYTHONPATH={{ source_path }}/src/backend/',
    'CONFIG_ROOT={{ config_root }}',
    'SOURCE_PATH={{ source_path }}',
    'DEPLOY_ENVIRONMENT={{ config_root }}/deploy_environment.var',
    'TEST_IP_ADDRESS={{ test_ip_address }}',
    'REDIS_URI={{ redis_uri }}',
    'REDIS_URI_RO={{ redis_uri_ro }}'
]
#accesslog = '-'
#access_log_format = '"%({X-Forwarded-For}i)s" %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(f)s" "%(a)s"'
errorlog = '-'
timeout = 900
