[Unit]
Description={{ description }} Service
After=network-online.target
Wants=network-online.target

[Timer]
OnStartupSec=1m
OnCalendar=*-*-* 20:00:00
Persistent=true

[Install]
WantedBy=timers.target
