#!/usr/bin/env bash

pushd {{ config_root }}/mirrors/updates
git fetch --all
git reset --hard origin/master
git pull
popd
# healthcheck, 10 minutes
for i in $(seq 1 40); do
        curl -I http://[::1]:80 && break
        sleep 15
done
curl --cookie 'AUTH_KEY={{ auth_key }}' -X POST http://[::1]:{{ gunicorn_port }}/update_mirrors
